<div class="sticky top-0 z-10 ">

    {# <div class="px-10 pt-3 flex-auto lg:inline-flex  bg-white w-full">
        <a href="{{ path('app_home') }}" class="flex-grow "><div class="text-xl lg:text-3xl font-extrabold">Mon PortFolio</div> <div class="text-yellow-500 text-2xl transform lg:translate-x-48 transform lg:-translate-y-5">WIP</div></a>
        <ul class="invisible inline-flex lg:visible ">
            <li><a class="font-semibold border-2 border-blue-800 hover:bg-blue-800 hover:text-white rounded-md ml-1 p-1 "
                   href="{{ path('app_listvideo') }}">Mes vidéos</a></li>
            <li><a class="font-semibold border-2 border-blue-800 hover:bg-blue-800 hover:text-white rounded-md shadow-inner ml-1 p-1 "
                   href="{{ path('app_listdepo') }}">Mes projets</a></li>
            <li><a class="font-semibold border-2 border-blue-800 hover:bg-blue-800 hover:text-white rounded-md shadow-inner ml-1 p-1 "
                   href="{{ path('app_listvideo') }}">Qui suis-je?</a></li>
        </ul>
        <div class="bg-white lg:hidden" x-data="{ open: false }">
            <button @click="open = true">Ouvrir le menu</button>

            <ul
                    x-show="open"
                    @click.away="open = false"
            >
                Elément de menu
            </ul>
        </div>
    </div> #}
    <div class="p-5 mx-auto bg-white">
        <nav class="flex-row lg:flex lg:justify-between">
            <div class="flex flex-row justify-between">
                <a class="text-2xl font-extrabold" href="{{ path('app_home') }}">Mon PortFolio<span class="text-yellow-500 text-3xl">WIP</span></a>

                <p id="hamburgerbtn" class="p-1 mb-1 font-semibold border-2 border-blue-800 hover:bg-blue-800 hover:text-white rounded-full lg:hidden">
                    {#<svg class="w-9" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>#}
                    <img class="w-8" src="favicon.ico" alt="">
                </p>
            </div>

            <ul class="hidden lg:flex lg:flex-row" id="mobileMenu">
                <li  class="mb-3 lg:mr-5 lg:mt-3 text-2xl lg:text-base"><a class="p-1  font-semibold hover:bg-blue-800 hover:text-white rounded-md" href="{{ path('app_listvideo') }}">Mes vidéos</a></li>
                <li  class="mb-3 lg:mr-5 lg:mt-3 text-2xl lg:text-base"><a class="p-1  font-semibold hover:bg-blue-800 hover:text-white rounded-md" href="{{ path('app_listdepo') }}">Mes projets</a></li>
                <li  class="mb-3 lg:mr-5 lg:mt-3 text-2xl lg:text-base"><a class="p-1  font-semibold hover:bg-blue-800 hover:text-white rounded-md" href="">Qui suis-je?</a></li>
            </ul>
        </nav>
    </div>
    <div class="transform -translate-y-1 h-28 bg-wave-nav bg-no-repeat bg-cover w-full">

    </div>
    <script>
        let hamburger = document.getElementById('hamburgerbtn');

        let mobileMenu = document.getElementById('mobileMenu');

        hamburger.addEventListener('click', function(){
            mobileMenu.classList.toggle('active');
        });
    </script>
</div>
